{% extends "base.html" %}
{% block title %}Reviews{% endblock %}
{% block body %}
<h3>Product Reviews</h3>
<div class="card-panel z-depth-1  blue-grey lighten-4">
	<div style="margin:1.5rem; margin-left: 45%">
		<a onclick="change_page(-1)" class="btn-floating btn-large red"><i class="material-icons">keyboard_arrow_left</i></a>
		<a onclick="change_page(1)" class="btn-floating btn-large red"><i class="material-icons">keyboard_arrow_right</i></a>
	</div>
	<div class="row">
		{% for review in reviews%}
		<div class="col s12">
			<div class="card white">
				<div class="card-content">
					<h5>
						<strong class="red-text">{{review.title}}</strong> by {{review.customer}}
						<span class="yellow-text rating">{{review.rating}}</span>
					</h5>
					<p class="review_text black-text" style="font-size:1vw;">{{review.review}}</p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div> 
	<div style="margin:1.5rem; margin-left: 45%">
		<a onclick="change_page(-1)" class="btn-floating btn-large red"><i class="material-icons">keyboard_arrow_left</i></a>
		<a onclick="change_page(1)" class="btn-floating btn-large red"><i class="material-icons">keyboard_arrow_right</i></a>
	</div>
</div>
{% endblock %}
{% block footer %}
    <script type="text/javascript" src="{{ url_for('static', filename='reviews.js') }}"></script>
{% endblock %}